/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Oswald;
}
.wraper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	}
	._container{
		max-width: 1110px;
		padding: 0px 15px;
		margin: 0px auto;
		box-sizing: content-box;
		}
		._ibg{position: relative;
		
		}
/*свойства только для картинки*/
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	}

	.main-block__color{
		position: absolute;
		height: 104%;
		width:444px ;
		max-width: 100%;
		top: 0;
		left: 0;
		background: 	#005BC199;
		z-index: 1;
		margin:80px 0px  0px 0px ;
	}
	@media(max-width:970px){
		.main-block__color{
			
			min-height: 94.5%;
			
		}
	}
	
	/*стили шапки*/
	.header{
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 50;
		display:  flex;
	background: 	#005BC199;

		}
	
		.header__logo-body {
			display: flex;
			min-height: 80px;
			max-height: 80px;
			padding:11px 40px ;
		}
		.header__logo-image {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		
		.header__menu {
			padding: 0px 330px 0px 326px;
		}
		@media(max-width:1100px)
		{
			.header__menu {
				padding: 0px 150px 0px 150px;
			}

		}
		.menu__list {
			display: flex;
			align-items: center;
			padding:30px 0 ;
		}
		.menu__item:not(:last-child) {
			padding-right: 26px;
		}
		
		.menu__link {
			font-family: Open+Sans;
			font-weight: 600;
			font-size: 14px;
			line-height: 100%;
			color: #FFFFFF;
			display: block;
			min-width: 90px;
			
		}
		.menu__link:hover{

		text-decoration: underline;
		}
		/*---------------------------------------*/
		.page {
			flex: 1 1 auto;
		}
		.main-block {
			position: relative;
			
		}
	
		.main-block__container {
			position: relative;
			
		}

		.man-block__body {
			position: relative;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			padding:202px 220px ;
			

			
		}
		.main-block__title {
			font-family: Oswald;
			font-size: 48px;
			line-height: 71px;
			letter-spacing: 0.01em;
			color: #FFFFFF;
			padding: 0px 0px 40px 0px;
			flex:0 1 100%;
			z-index: 4;
		}
		.main-block__text {
			font-family: Open+Sans;
			font-size: 16px;
			line-height: 22px;
			color: #FFFFFF;
			padding: 0px 0px 40px 0px;
			z-index: 4;
		}
		.main-block__buttons {
			

		}
		.main-block__button {
			position: relative;
			box-sizing: border-box;
			min-height: 51px;
			border: 1px solid #FFFFFF;
			color: #FFFFFF;
			font-family: Open Sans;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
		text-align: center;
		letter-spacing: 0.05em;
		padding: 15px 40px;
		z-index: 4;
		}
		.main-block__button:hover {
	background: #ffffff48;
	color:#005BC199;
		}
		.main-block__image {
			position: absolute;
	max-width: 100%;
	height: 100%;
	top: 0;
	left: 0;
		}
		/*ourprojects-------------------------------------------------*/
		.page__ourprojects{
margin: 109px 0px 0px 0px;
min-width: 0;
		}
		
		.page-container {
		padding: 150px 0px 0px 0px;
		position: relative;
		}
	
		.ourprojects__header {
			padding:  0px 0px 40px 0px;
		}
		.header-block {
			display: flex;
			align-items: flex-start;
		}
		.header-block__lines {
		}
		.lines-block {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding: 0px 40px 0px  0px ;
			width: 100px;
			max-width: 100%;
		}
		.lines-block__item {
			height: 3px;
			width: 100%;
			background: #005BC1;
		}
		.line__long {
			
			margin:  15px 0px 4px  0px;
		}
		.line__shot {
	
			width: 50%;
			
			
		}
		.header-block__title {
			font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 44px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #343434;
		}
		/*slider*/
	
		
		
		
		
	
	/* Слайдер */
	.slider{


	}
.slider .slick-slider{margin:0px -15px;}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
overflow: hidden;

}
/* Лента слайдов */
.slick-track{
display: flex;

}
/* Слайд */
.slider__item{

max-width: 100%;
}
.slider__item img{

max-width: 540px;
}
.slider .slick-slide{
	padding:0px 15px ;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slider .slick-arrow{
position: absolute;
top: 0;
border: solid 1px #1e587e;
z-index: 10;
width: 55px;
height: 55px;
margin: 150px 0px 0px 0px;
font-size: 0;

}
/* Стрелка влево */
.slider .slick-prev{
	right: 0;
transform: rotate(90deg);
background: no-repeat    url('../img/ourprojects/arrow.png')  ;
background-position: 44% 50%;
background-size: 50%;
}
.slider .slick-next{
right: 55px;
transform: rotate(270deg);
background: no-repeat center/50%  url('../img/ourprojects/arrow.png')  ;
}


/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slider  .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider  .slick-dots li{
	list-style: none;
}
/* Активная точка */
.slider  .slick-dots li.slick-active button{
	background: black;

}
/* Элемент точки */
.slider .slick-dots li button{
font-size: 0;
width: 10px;
height: 10px;
background: grey;
border-radius: 50%;
margin: 0px 10px;
}


		
	