/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Oswald;
}
.wraper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	}
	._container{
		max-width: 1110px;
		padding: 0px 15px;
		margin: 0px auto;
		box-sizing: content-box;
		}
		._ibg{position: relative;
		
		}
/*свойства только для картинки*/
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	}

	.main-block__color{
		position: absolute;
		min-height: 104%;
		width:444px ;
		max-width: 100%;
		top: 0;
		left: 0;
		background: 	#005BC199;
		z-index: 1;
		margin:80px 0px  0px 0px ;
	}
	@media(max-width:970px){
		.main-block__color{
			
			min-height: 94.5%;
			
		}
	}
	
	/*стили шапки*/
	.header{
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 50;
		display:  flex;
	background: 	#005BC199;

		}
	
		.header__logo-body {
			display: flex;
			min-height: 80px;
			max-height: 80px;
			padding:11px 40px ;
		}
		.header__logo-image {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		
		.header__menu {
			padding: 0px 330px 0px 326px;
		}
		@media(max-width:1100px)
		{
			.header__menu {
				padding: 0px 150px 0px 150px;
			}

		}
		.menu__list {
			display: flex;
			align-items: center;
			padding:30px 0 ;
		}
		.menu__item:not(:last-child) {
			padding-right: 26px;
		}
		
		.menu__link {
			font-family: Open+Sans;
			font-weight: 600;
			font-size: 14px;
			line-height: 100%;
			color: #FFFFFF;
			display: block;
			min-width: 90px;
			
		}
		.menu__link:hover{

		text-decoration: underline;
		}
		/*---------------------------------------*/
		.page {
			flex: 1 1 auto;
		}
		.main-block {
			position: relative;
			
		}
	
		.main-block__container {
			position: relative;
			
		}

		.man-block__body {
			position: relative;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			padding:202px 220px ;
			

			
		}
		.main-block__title {
			font-family: Oswald;
			font-size: 48px;
			line-height: 71px;
			letter-spacing: 0.01em;
			color: #FFFFFF;
			padding: 0px 0px 40px 0px;
			flex:0 1 100%;
			z-index: 4;
		}
		.main-block__text {
			font-family: Open+Sans;
			font-size: 16px;
			line-height: 22px;
			color: #FFFFFF;
			padding: 0px 0px 40px 0px;
			z-index: 4;
		}
		.main-block__buttons {
			

		}
		.main-block__button {
			position: relative;
			box-sizing: border-box;
			min-height: 51px;
			border: 1px solid #FFFFFF;
			color: #FFFFFF;
			font-family: Open Sans;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
		text-align: center;
		letter-spacing: 0.05em;
		padding: 15px 40px;
		z-index: 4;
		}
		.main-block__button:hover {
	background: #ffffff48;
	color:#005BC199;
		}
		.main-block__image {
			position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
		}
		.page__ourprojects{
margin: 109px 0px 0px 0px;

		}
		
		.page-container {
			padding: 150px 0px 0px 0px;
		
		}
	
		.ourprojects__header {
		}
		.header-block {
			display: flex;
			align-items: flex-start;
		}
		.header-block__lines {
		}
		.lines-block {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			
			width: 100px;
			max-width: 100%;
		}
		.lines-block__item {
		
		}
		.line__long {
			height: 5px;
			width: 100%;
			background: #000;
			margin:  0px 0px 13px  0px;
		}
		.line__shot {
			height: 5px;
			width: 50%;
			background: #000;
			
		}
		.header-block__title {
			font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 44px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #343434;
		}
		.ourprojects__slider {
		}
		.ourprojects__slider-buttons {
		}
		.slider-buttons {
		}
		.button__prev {
		}
		.button__next {
		}