/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Oswald;
}
/*-----------------------------------------------*/
.wraper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	}
	._container{
		max-width: 1110px;
		padding: 0px 15px;
		margin: 0px auto;
		box-sizing: content-box;
		}
		._ibg{position: relative;
		
		}
/*свойства только для картинки*/
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	}

	.main-block__color{
		position: absolute;
		height: 104%;
		width:444px ;
		max-width: 100%;
		top: 0;
		left: 0;
		background: 	#005BC199;
		z-index: 1;
		margin:80px 0px  0px 0px ;
	}
	@media(max-width:990px){
		.main-block__color{
			
			height: 94.5%;
			max-width: 100%;
		}
		
		
	}
	@media(max-width:650px){
		.main-block__color{
			
		display: none;
		}
		
		
	}
	/*стили шапки*/
	.header{
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 50;
		display:  flex;
	background: 	#005BC199;

		}
	
		.header__logo-body {
			display: flex;
			min-height: 80px;
			max-height: 80px;
			padding:11px 40px ;
		}
		.header__logo-image {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		
		.header__menu {
			padding: 0px 330px 0px 326px;
		}
		@media(max-width:1100px)
		{
			.header__menu {
				padding: 0px 150px 0px 150px;
			}

		}
		.menu__list {
			display: flex;
			align-items: center;
			padding:30px 0 ;
		}
		.menu__item:not(:last-child) {
			padding-right: 26px;
		}
		
		.menu__link {
			font-family: Open+Sans;
			font-weight: 600;
			font-size: 14px;
			line-height: 100%;
			color: #FFFFFF;
			display: block;
			min-width: 90px;
			
		}
		.menu__link:hover{

		text-decoration: underline;
		}
		/*---------------------------------------*/
		.page {
			flex: 1 1 auto;
		}
		.main-block {
			position: relative;
			
		}
	
		.main-block__container {
			position: relative;
			
		}
		@media(max-width:1300px){
			.main-block__container {
				margin: 0px 10px 0px 10px;
				
			}
		}
		.man-block__body {
			position: relative;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			padding:202px 220px ;
		}
		@media(max-width:840px){
			.man-block__body {

				padding:202px 180px ;
			}
		}
		@media(max-width:720px){
			.man-block__body {

				padding:202px 160px ;
			}
		}
		@media(max-width:680px){
			.man-block__body {

				padding:202px 140px ;
			}
		}
		@media(max-width:650px){
			.man-block__body {

				padding: 150px 0px;
				margin: 0 auto;
			}
		}
		.main-block__title {
			font-family: Oswald;
			font-size: 48px;
			line-height: 71px;
			letter-spacing: 0.01em;
			color: #FFFFFF;
			padding: 0px 0px 40px 0px;
			flex:0 1 100%;
			z-index: 4;
		}
		@media(max-width:350px){
			.main-block__title {
			font-size: 40px;
			}

		}
		.main-block__text {
			font-family: Open+Sans;
			font-size: 16px;
			line-height: 22px;
			color: #FFFFFF;
			padding: 0px 0px 40px 0px;
			z-index: 4;
		}
		.main-block__buttons {
			

		}
		.main-block__button{
			position: relative;
		}
		._btn {
		
			box-sizing: border-box;
			min-height: 51px;
			border: 1px solid #FFFFFF;
			color: #FFFFFF;
			font-family: Open Sans;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
		text-align: center;
		letter-spacing: 0.05em;
		padding: 15px 40px;
		z-index: 4;
		}
		.main-block__button:hover {
	background: #ffffff48;
	color:#005BC199;
		}
		.main-block__image {
			position: absolute;
	max-width: 100%;
	height: 100%;
	top: 0;
	left: 0;
		}
		/*ourprojects-------------------------------------------------*/
		.page__ourprojects{
margin: 109px 0px 0px 0px;
min-width: 0;
		}
		
		.ourprojects__container {
		padding: 150px 0px 0px 0px;
		position: relative;
		}
	@media(max-width:1300px){
		.page__ourprojects{
			margin: 109px 10px  0px 10px;
	
					}
	}
	@media(max-width:500px){
		.ourprojects__container {
			padding: 50px 0px 0px 0px;
			
			}
	}
		.ourprojects__header {
			padding:  0px 0px 40px 0px;
		}
		.header-block {
			display: flex;
			align-items: flex-start;
		}
		.header-block__lines {
		}
		.lines-block {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding: 0px 40px 0px  0px ;
			width: 100px;
			max-width: 100%;
		}
		.lines-block__item {
			height: 3px;
			width: 100%;
			background: #005BC1;
		}
		.line__long {
			
			margin:  15px 0px 4px  0px;
		}
		.line__shot {
	
			width: 50%;
			
			
		}
		.header-block__title {
			font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 44px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #343434;
		}

	/* Слайдер */
.slider .slick-slider{margin:0px -15px;}

.slider .slick-list {
overflow: hidden;

}
/* Лента слайдов */
.slick-track{
display: flex;

}
/* Слайд */
.slider__item{
max-width: 100%;
position: relative;

}
.slider__item img{

max-width: 540px;
}
.slider .slick-slide{
	padding:0px 15px ;
}
@media(max-width:690px){
	.slider .slick-slide{
		padding:0px  ;
	}

}

.slider .slick-arrow{
position: absolute;
top: 0;
border: solid 1px #1e587e;
z-index: 10;
width: 55px;
height: 55px;
margin: 150px 0px 0px 0px;
font-size: 0;

}
/* Стрелка влево */
.slider .slick-prev{
	right: 0;
transform: rotate(90deg);
background: no-repeat    url('../img/ourprojects/arrow.png')  ;
background-position: 44% 50%;
background-size: 50%;
}
.slider .slick-next{
right: 55px;
transform: rotate(270deg);
background: no-repeat center/50%  url('../img/ourprojects/arrow.png')  ;
}


/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slider  .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider  .slick-dots li{
	list-style: none;
}
/* Активная точка */
.slider  .slick-dots li.slick-active button{
	background: black;

}
/* Элемент точки */
.slider .slick-dots li button{
font-size: 0;
width: 10px;
height: 10px;
background: grey;
border-radius: 50%;
margin: 0px 10px;
}
.ourprojects__item-card{
position: absolute;
padding:  20px 25px;
right: 0;
bottom: 0;
background: #fff;
margin: 35px;
max-width: 100%;
}
.card__title{
	font-family: Oswald;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
padding: 0px  0px 14px 0px;
}
.card__text
{
	font-family: Open;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: #343434;
	max-width: 200px;

}
.page__ourproduction {
}
.ourproduction__container {
	padding: 150px 0px 0px 0px;

}

.ourproduction__body{
display: flex;
flex-direction: column;
align-items: center;

}
.ourproduction__choise {
padding:70px 0px 50px 0px ;
}
.ourproduction-choise__items {
	display: flex;
	align-items: center;
	align-self: center;
}
.ourproduction-choise__items li:not(:last-child){
padding: 0px 47px 0px 0px;

}

.choise__item {
	font-family: Oswald;

font-size: 24px;
line-height: 36px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #343434;
}
.choise__item:hover {
text-decoration: underline;
color: #005BC1;
}
.ourproduction__catalog {
}
.ourpoduction__catalog-list {
	display: flex;
justify-content: space-between;
}

.ourpoduction__catalog-list li:nth-child(2){
padding: 0px 30px 0px 30px;

}
.item__foto-catalog {
	max-width: 100%;

}

img.item__foto-catalog:hover{
	opacity: 0.25;
}
@media(max-width:500px){

	.ourproduction__container {

		padding: 50px 0px;
		
	}

}
@media(max-width:1130px){
._container{
	margin:  0px 5px  0px 5px;
}

}
@media(max-width:700px){

	.ourpoduction__catalog-list {
	flex-wrap: wrap;
	}
	.ourpoduction__catalog-list li:nth-child(2){
		padding: 0px 0px 0px 0px;
		
		}
		.list-items__catalog{
			flex:0 1 30%;
		}
		.ourproduction__choise {
			padding:30px 0px 20px 0px ;
			}
}

.rentequipment__container {
	padding: 150px 0px 0px 0px;
}
@media(max-width:500px){

	.rentequipment__container  {

		padding: 50px 0px;
		
	}
}

.rentequipment__body {
	display: flex;
align-items: center;
padding:40px 0px  0px 0px ;
min-width: 0;

}


.rentequipment__content {
	padding:0px 95px 0px 0px ;
	flex:0 0 40%;

}

@media(max-width:1022px){
	.rentequipment__content {
		padding:0px 40px 0px 0px ;
		min-width: 0;
	}
}
@media(max-width:978px){
	.rentequipment__body {
		
	}
	.rentequipment__content {
		padding:0px 0px 40px 0px ;
		
	}

}
._content{
	font-family: Open Sans;
font-weight: 300;
font-size: 18px;
line-height: 25px;
color: #343434;

}
.slider__border{
	padding: 30px;
	border: 3px solid #005BC1;
}
.slider-rentequipment__item {



}
.title-block {
	font-family: Oswald;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #343434;
	
}

.title__slide {
	padding: 0px 166px 45px 0px;

}
@media(max-width:540px){
	.title__slide {
		
	padding: 0px 0px 25px 0px;
	}

}
.item__body {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	
}
@media(max-width:460px){
	.item__body {
		flex-wrap: wrap;
		
	}

}

.item__context {
	flex: 1 0 50%;
}
.item__context-title {
	font-family: Oswald;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #343434;
padding: 0px 0px 30px 0px;
}

.text-list__items {
	padding: 0px 0px 30px 0px;
	list-style-type: disc;

}
@media(max-width:540px){
	.text-list__items {
		padding: 0px 0px 10px 0px;

	
	}

}
.items__text {
	font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 19px;
color: #343434;
}
.item__foto {
	margin:0px 30px 0px 0px ;

}
.item__foto-image {
	width: 255px;
	max-width: 100%;
}
.slider-rentequipment{
	flex:1 1 50%;

}
@media(max-width:767px)
{
.rentequipment__body{
	flex-direction: column;
}
.slider-rentequipment{
max-width: 100%;

}
}
.rentequipment__slider.slick-slider{
	position: relative;
	min-width: 0;
}
.rentequipment__slider .slick-arrow{
	position: absolute;
	border: solid 2px #1e587e;
	z-index: 20;
	width: 55px;
	height: 55px;
	font-size: 0;
	}
	/* Стрелка влево */
	.rentequipment__slider .slick-prev{
		right: 30px;
		top: 30px;
		border-bottom: 0px;
	transform: rotate(90deg);
	background: no-repeat    url('../img/ourprojects/arrow.png')  ;
	background-position: 44% 50%;
	background-size: 50%;
	}
	.rentequipment__slider .slick-next{
	right: 85px;
	top: 30px;
	transform: rotate(270deg);
	background: no-repeat center/50%  url('../img/ourprojects/arrow.png')  ;
	}

	/* Слайдер */
	

.rentequipment__slider .slick-list {
	overflow: hidden;
	
	}
/* Лента слайдов */
.rentequipment__slider.slick-track{
	display: flex;
}

.page-container {
	padding: 150px 0px 0px 0px;
}
@media(max-width:500px){

	.page-container {

		padding: 50px 0px;
		
	}
}
.button__news{
	position: absolute;
background:#005BC1;
	top:0;
	right: 0;
}
.newsblock__header{
position: relative;
}
@media(max-width:450px){

	.button__news{
		font-size: 14px;
		padding: 5px 13px;
	}
}
@media(max-width:377px){

	.button__news{	
	top:55px;
	left: 0;
	}
}
/*стили для блока новостей*/

.newsbock__body{
padding: 77px 0px 0px 0px;

}
.list__newsblock{
display: flex;

}
@media(max-width:930px){
	.list__newsblock{
		flex-wrap: wrap;
		
		}
  

.small{
	align-self: center;
}
}

@media(max-width:830px){
	.list__newsblock{
		align-items: center;
		justify-content: center;
		
		}

}
 .newsblock-list__item:not(:last-child) {
padding: 0px 60px 0px 0px;
}
.item__block {
	display: flex;
	align-items: flex-start;
	position: relative;
}

.block__title {
	display: flex;
	flex-wrap: wrap;
}

.big__block-item{
	max-width: 255px;
padding: 0px  0px  0px 30px;
}
.big__block-title{
padding: 0px 0px 40px 0px;

}

.big-foto {
flex:50%;
}

.item__big-foto {

	max-width: 100%;
}
@media(max-width:430px){
	.big{
	flex-direction: column-reverse;
	
	}
	
	.newsblock-list__item:not(:last-child){
	padding-right: 0px;
	}
	.big__block-item{
		max-width: 100%;
	padding: 0px  0px  0px 0px;
	}
	}
.item__date{
	position: absolute;
	top: 0;
	right: 0;
}
.item_small__date{
	position: absolute;
	bottom: 0;
	right: 0;

}
.newsblock-list__item {
}
.small-block{
flex-direction: column-reverse;

}
.small {
	width: 128px;
}

.item__small-foto {
	max-width: 100%;
}
.item__content-list{
padding: 0px 0px 20px 0px;


}
.small__block-title{

	padding: 0px 0px 20px 0px;
}
/*footer*/
.footer {
	background: #005BC1;

}
.footer__top {
	
padding: 0px 5px 0px 5px;
}
.footer__container {
	display: flex;
	align-items: center;

	padding: 0px 5px 0px 5px;
}
@media(max-width:686px){
	.footer__container {
flex-wrap: wrap;
	}
	
}
.top_container {
	padding: 36px 0px 25px 0px;
	border-bottom:1px solid #FFFFFF;
}

._container {
}
.phone__number {
	font-family: Oswald;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
}
.address {
	margin: 0 auto;
font-family: Open Sans;
font-weight: 600;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}
@media(max-width:640px){
	.address {
		margin-left: 0;}
}
.footer__body	 {
}
.body_container {
	justify-content: space-between;
	padding:25px 0px 25px 0px  ;
	
}

.table_of_contents {
display: flex;
	}


.item__table_of_contents {
	display: flex;
	flex-direction: column;
}
.item__table_of_contents:not(:last-child) {
padding: 0px 110px 0px 0px;
}
.item__column:not(:last-child){
padding: 0px 0px 10px 0px;

}
@media(max-width:570px){
	
	.table_of_contents {
		justify-content: space-around;
		align-items: center;
	flex-wrap: wrap;
 
	}
	.item__table_of_contents:not(:last-child) {
	margin-bottom: 30px;
	padding: 0px;
		}
		.item__table_of_contents:first-child {
			
			padding: 0px 250px 0px 0px;
				}
	
}
@media(max-width:400px){

	
	.item__table_of_contents:not(:last-child) {

	padding: 0px;
		}
		
		.table_of_contents{
			
	flex-direction: column;
	align-items: flex-start;
margin: 0 auto;
				}
}
.contents-link {

}
._border{
	border-top: 1px solid #FFFFFF;
}
.footer-text {
	font-family: Open Sans;
font-weight: 300;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}
.footer__bottom {
	
}
.all_rights_resrved {
}
.develop_disain {
}

